@(productForm: Form[models.ProductFormData])(implicit request: RequestHeader,messages : Messages)

@main("Thông tin sản phẩm - admin") {
    @header_admin()
    <div id="main">
        <h2>Thông tin sản phẩm</h2>
        <form action="@routes.ProductController.savedProduct()" method="post">
            <fieldset>
                <div class="editor-label">
                    <label for="ProductName">Tên sản phẩm:</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-length-max="1024" id="name" name="name" type="text" value="@productForm("name").value">
                    <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="Manufacture">Hãng sản xuất:</label>
                </div>
                <div class="editor-field">
                    <select id="category" name="category" value = "@productForm("category").value">
                        <option value="0"></option>
                        <option value="1">iPhone</option>
                        <option value="2">Samsung</option>
                        <option value="3">Nokia</option>
                        <option value="4">Sony</option>
                        <option value="5">Oppo</option>
                    </select>
                    <span class="field-validation-valid" data-valmsg-for="category" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="description">Thông tin kĩ thuật:</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-length-max="1024" id="description" name="description" type="text" value="@productForm("description").value">
                    <span class="field-validation-valid" data-valmsg-for="description" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="price">Giá sản phẩm:</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-length-max="1024" id="price" name="price" type="text" value="@productForm("price").value">đ
                    <span class="field-validation-valid" data-valmsg-for="price" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="unitInStock">Số lượng tồn:</label>
                </div>
                <div class="editor-field">
                    <input class="text-box single-line" data-val="true" data-val-length-max="1024" id="unitInStock" name="unitInStock" type="text" value="@productForm("unitInStock").value">
                    <span class="field-validation-valid" data-valmsg-for="unitInStock" data-valmsg-replace="true"></span>
                </div>
                <div class="editor-label">
                    <label for="ProductImage">Chọn ảnh sản phẩm:</label>
                </div>
                <div class="editor-field">
                    <input type="file" name="anh">
                    <span class="field-validation-valid" data-valmsg-for="ProductImage" data-valmsg-replace="true"></span>
                </div>
                <br>
                <p style = "text-align: center">
                    <button type = "submit" class = "btn-insert"><a>Save</a></button>
                    <button class = "btn-cancel"><a href="@routes.ProductController.allProduct()">Cancel</a></button>
                </p>
            </fieldset>
        </form>
        <a href="@routes.ProductController.allProduct()" class="btn btn-default">Back To List</a>

    </div>
   @footer()
}
