@(cartItemForm: Form[models.CartItemFormData],cartItems : Seq[models.Cart_Item])(implicit request: RequestHeader,messages : Messages)


@main("Thông tin giỏ hàng") {
    @header()

    <div id="main">
        <h2>Review your cart</h2>

        <button class="_btn checkout-btn entypo-forward">Checkout</button>
        <form id="product-data-form" role="form" action='@routes.CartController.listCartItem()' method="POST">
            <table id="results">
                <tbody>
                    <tr>
                        <th>
                            Tên điện thoại
                        </th>
                        <th>
                            Hãng sản xuất
                        </th>
                        <th class = "th-info">
                            Thông tin kĩ thuật
                        </th>
                        <th>
                            Giá
                        </th>
                        <th></th>
                    </tr>
                    @for(cartItem <- cartItems){
                    <tr>
                        <td>
                            @cartItem.productId
                        </td>
                        <td>
                            @cartItem.cartId
                        </td>
                        <td class = "td-info">
                            <wbr>
                            @cartItem.id
                            <wbr>

                        </td>
                        <td>
                            @cartItem.productId
                        </td>
                        <td style = "text-align: center;">
                            <a href="@routes.CartController.deleteCartItem(cartItem.id)" class="button delete"></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </form>
        <div id="pageNavPosition" style = "margin-top: 20px;"></div>
        <script type="text/javascript">
            var pager = new Pager('results', 10);
            pager.init();
            pager.showPageNav('pager', 'pageNavPosition');
            pager.showPage(1);
        </script>
    </div>

   @footer()
}
